@import "../variables";

.about-page {
  .section-header_about {
    background-image: image-set(
                    url("../../assets/images/sections_headers/about@1x.avif") 1x,
                    url("../../assets/images/sections_headers/about@2x.avif") 2x,
                    url("../../assets/images/sections_headers/about@1x.webp") 1x,
                    url("../../assets/images/sections_headers/about@2x.webp") 2x
    );
  }

  h1 {
    color: $black-400;
    font-size: 84px;

    em {
      color: $orange-100;
    }
  }

  .promo {
    padding-top: 60px;
  }

  .promo__cards {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    margin-top: 60px;
  }

  .promo-card {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 32px;
    border-radius: 10px;
    color: $white-100;
    position: relative;
    background: $black-400;
    overflow: hidden;

    &::after {
      content: "";
      width: 220%;
      height: 200%;
      position: absolute;
      top: 0;
      left: 0;
      background: $black-200;
      border-radius: 100%;
      transform: translate(-50%, -50%);
      z-index: -1;
      transition: .3s;
    }

    &:hover {
      &::after {
        background: $orange-200;
      }
    }

    .promo-card__desc {
      color: $gray-100;
    }
  }

  .promo-card__desc {
    color: $gray-200;
  }

  .promo-card__link {
    display: inline-block;
    margin-top: 16px;
    color: $white-100;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .desc {
    margin-top: 200px;
    background: $black-400;
    max-height: 586px;
    position: relative;

    .desc__content {
      max-width: 550px;
      padding: 80px 0;
      color: $white-100;
    }

    .desc__body {
      margin-top: 32px;

      p:not(:first-child) {
        display: inline-block;
        margin-top: 16px;
      }
    }

    .desc__bg {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      max-width: 960px;
    }
  }

  .best {
    margin-top: 210px;

    h2 {
      max-width: 1060px
    }

    .row {
      display: flex;
      justify-content: space-between;
      margin-top: 48px;
      padding-bottom: 40px;
      column-gap: 40px;

      p {
        color: $black-400;
      }

      p:first-child {
        max-width: 400px;
      }

      p:last-child {
        color: $gray-300;
      }
    }
  }

  .brands {
    margin-top: 56px;

    .swiper-button-next, .swiper-button-prev {
      color: $gray-300;
      transition: .3s;
      display: none;
    }

    .swiper-button-prev:after, .swiper-button-next:after {
      font-size: 32px;
    }

    .brand-cards {
      margin-top: 48px;
      display: flex;
      column-gap: 40px;
      padding-left: calc((100% - $container-width) / 2);
    }

    .brand-cards__swiper .swiper-slide:nth-child(1n) .brand-card {
      background: $black-100;
    }

    .brand-cards__swiper .swiper-slide:nth-child(2n) .brand-card {
      background: $black-400;
    }

    .brand-cards__swiper .swiper-slide:nth-child(3n) .brand-card {
      background: $orange-100;
    }

    .brand-card {
      padding: 40px;
      border-radius: 10px;
      width: 100%;
      height: 100%;
    }

    .brand-card__title {
      color: $white-100;
    }

    .brand-card__items .item {
      color: $white-100;
      white-space: nowrap;
    }

    .brand-card__items {
      margin-top: 24px;
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
    }
  }

  .brand-cards__swiper .swiper-slide {
    max-width: 730px;
  }

  .call {
    padding: 45px 0;
    margin-top: 130px;
    background-color: $orange-100;
    color: $white-100;
    background-image: image-set(
                    url("../../assets/images/about/call/bg@1x.avif") 1x,
                    url("../../assets/images/about/call/bg@2x.avif") 2x,
                    url("../../assets/images/about/call/bg@1x.webp") 1x,
                    url("../../assets/images/about/call/bg@2x.webp") 2x
    );
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.3);
      z-index: 1;
    }

    > * {
      position: relative;
      z-index: 2;
    }

    .call-form {
      max-width: 580px;
    }

    .call-form__tel {
      font-family: 'BebasNeue', sans-serif;
      color: $white-100;
      text-decoration: none;
      font-size: 64px;
      display: inline-block;
      margin-top: 16px;

      &:hover {
        text-decoration: underline;
      }
    }

    .call-form__desc {
      margin-top: 16px;
    }
  }

  .team {
    margin-top: 130px;

    .team__wrap {
      margin-top: 60px;
      display: flex;
      justify-content: space-between;
      column-gap: 40px;
    }

    .team__subtitle {
      margin-top: 40px;
    }

    .team__list {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      margin-top: 24px;

      li {
        display: flex;
        align-items: center;
        column-gap: 10px;
      }
    }
  }

  .gallery {
    margin-top: 120px;

    .gallery-slider {
      margin-top: 60px;
    }

    .swiper-slide {
      width: 400px;
      height: 228px;
      overflow: hidden;

      img {
        display: inline-block;
        width: 100%;
        object-fit: contain;
        border-radius: 10px;
      }
    }
  }

  .contacts {
    margin-top: 120px;

    .map-bg {
      display: inline-block;
      margin-top: 60px;
      width: 100%;
    }

    .contacts-info {
      border-bottom: 1px solid $gray-100;
      padding-bottom: 60px;
    }
  }

  .section_marquee {
    margin-top: 60px;
    padding-bottom: 0;
  }

  .best-bg {
    width: 100%;
  }
}

@media (max-width: 1800px) {
  .about-page .desc .desc__bg {
    display: none;
  }

  .about-page .desc .desc__content {
    max-width: 80%;
  }

  .about-page .best {
    margin-top: 110px;
  }
}

@media (max-width: 1400px) {
  .about-page h1 {
    font-size: 72px;
  }

  .about-page .team .team__wrap {
    flex-direction: column;
    row-gap: 40px;
  }

  .about-page .brands .swiper-slide {
  }

  .about-page .brands .brand-card {
  }

  .about-page .brands .brand-cards {
    padding-left: 5%;
    padding-right: 5%;
  }

  .about-page .call {
    background-size: cover;
  }

  .about-page .promo__cards {
    flex-direction: column;
    row-gap: 24px;
  }

  .about-page .desc,
  .about-page .best,
  .about-page .call,
  .about-page .team,
  .about-page .contacts {
    margin-top: 60px;
  }

  .about-page .gallery .swiper-slide {
    height: auto;
  }

  .about-page .gallery {
    display: none;
  }

  .about-page .section_marquee {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .about-page h1 {
    font-size: 64px;
  }

  .about-page .call {
    background-position: center center;
  }

  .page.about-page h2.promo-card__title {
    font-size: 32px;
  }

  .about-page .team .team__wrap {
    margin-top: 40px;
  }

  .about-page .team-bg {
    width: 100%;
  }

  .about-page .brands .swiper-button-next,
  .about-page .brands .swiper-button-prev {
    display: inline-block;
  }
}

@media (max-width: 600px) {
  .about-page h1 {
    font-size: 54px;
  }

  .page.about-page h2.promo-card__title {
    font-size: 26px;
  }

  .about-page .desc,
  .about-page .best,
  .about-page .call,
  .about-page .team,
  .about-page .contacts {
    margin-top: 40px;
  }

  .about-page .best .row p:first-child {
    max-width: none;
  }

  .about-page .best .row {
    flex-direction: column;
    row-gap: 24px;
  }

  .about-page .desc .desc__content {
    max-width: 100%;
  }
}


@media (max-width: 460px) {
  .about-page h1 {
    font-size: 48px;
  }

  .page.about-page h2.promo-card__title {
    font-size: 24px;
  }

  .about-page .call .call-form__tel {
    font-size: 32px;
  }
}