@import "../variables";

.promo-slider .swiper-pagination {
  z-index: 1;
  bottom: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  .swiper-pagination-bullet {
    background: $gray-400;
    width: 12px;
    height: 12px;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background: $orange-100;
    width: 16px;
    height: 16px;
  }
}

.section_promo {
  position: relative;

  .promo {
    position: absolute;
    top: 185px;
    z-index: 1;
    width: 100%;

    h1 {
      color: $white-100;
    }
  }

  .promo__content {
    max-width: 645px;
  }

  .promo__offer {
    color: $white-100;
    margin-top: 12px;
  }

  .promo__action-btn {
    width: 180px;
    margin-top: 40px;
  }
}

.promo-cards {
  position: relative;
  margin-top: -2px;
  z-index: 1;
  background: $black-400;

  .container {
    display: flex;
    justify-content: space-between;
  }
}

.promo-card {
  width: 100%;
  text-decoration: none;
  transition: .3s;
  position: relative;
  z-index: 1;
  background: #1f1f1f;

  &:hover {
    z-index: 2;

    .promo-card__bg {
      transform: scale(1.1);
    }
  }
}

.promo-card__content {
  position: relative;
  z-index: 2;
  padding: 48px;
}

.promo-card__text {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  max-width: 325px;
  color: $white-100;
}

.promo-card:nth-child(2) {
  border-left: 1px solid #343434;
  border-right: 1px solid #343434;
}

.promo-card__action {
  text-decoration: none;
  color: $orange-100;
  margin-top: 40px;
  display: inline-block;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    height: 1px;
    width: 0;
    background: $orange-100;
    transform: translateY(5px);
    transition: .3s;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}

.section_news {
  background: $white-200;
}

.section_catalog .container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-title {
  margin-bottom: 80px;
}

.catalog-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 16px;
  grid-auto-flow: dense
}

.catalog-card {
  color: $white-100;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  background: $black-400;
  transition: .3s;
  cursor: pointer;
  height: 100%;
  display: flex;
  text-decoration: none;

  h2 {
    position: relative;
    z-index: 2;
  }

  &:hover {
    background: $orange-100;
  }

  img {
    position: absolute;
    top: 0;
  }
}

.catalog-card:first-child {
  grid-column: 1/-1;
  max-height: 300px;
  align-items: center;
  padding: 0 80px;
  height: 300px;

  img {
    right: 12px;
  }
}

.catalog-card:nth-child(2) {
  grid-row: 2/-1;
  height: 458px;
  justify-content: center;
  padding-top: 80px;

  img {
    bottom: 0;
    transform: translateY(35%);
  }
}

.catalog-card:nth-child(3) {
  grid-row: 2;
  height: 190px;
  align-items: center;
  padding: 0 25px;

  img {
    right: 0;
  }
}

.catalog-card:nth-child(4) {
  grid-row: 3;
  height: 252px;
  transform: translateY(-49px);
  align-items: flex-end;
  padding: 25px;

  img {
    right: 0;
  }
}

.catalog-card:nth-child(5) {
  grid-row: 2;
  height: 239px;
  padding: 25px;

  img {
    top: auto;
    bottom: 0;
    right: 0;
  }
}

.catalog-card:nth-child(6) {
  grid-row: 3;
  height: 203px;
  padding: 25px;

  img {
    bottom: 0;
    right: 0;
  }
}

.section_blog .container {
  display: flex;
  justify-content: space-between;

  .section-title {
    max-width: 620px;
  }
}

.blog-preview {
  max-width: 510px;
}

.blog-preview__link {
  display: inline-block;
  color: $gray-200;
  margin-top: 32px;
}

.section_video {
  height: 600px;
  width: 100%;
  background-image: image-set(
                  url("../../assets/images/main/video/bg@2x.avif") 2x,
                  url("../../assets/images/main/video/bg@1x.avif") 1x,
                  url("../../assets/images/main/video/bg@2x.webp") 2x,
                  url("../../assets/images/main/video/bg@1x.webp") 1x
  );
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section_advantages {
  background: $black-100;
  padding: 36px 0;
}

.advantages-wrap {
  display: flex;
  justify-content: space-between;
}

.advantage-item__wrap {
  display: flex;
  column-gap: 16px;
}

.advantage-item {
  color: $white-100;
}

.advantage-item__icon {
  width: 40px;
  height: 40px;
}

.advantage-item__desc {
  margin-top: 16px;
  max-width: 280px;
}

.section_best {
  background: $black-400;
  padding-top: 248px;
  position: relative;

  .container {
    position: absolute;
    top: 80px;
    left: 50%;
    max-width: $container-width;
    width: 100%;
    transform: translateX(-50%);

    h2 {
      color: $white-100;
      max-width: 430px;
    }
  }

  .swiper-button-next, .swiper-button-prev {
    display: none;
  }
}

.best-items-slider-wrap {
  display: block;
  max-width: 1280px;
  margin-left: auto;
  margin-right: 0;
  transform: translateX(30px);
}

.best-items-slider {
  padding-bottom: 100px;

  .swiper-slide {
    max-width: 400px;
  }
}

.best-items-particle {
  position: absolute;
}

.best-items-particle_1 {
  bottom: 0;
  left: 0;
}

.best-items-particle_2 {
  top: 0;
  right: 0;
}

.section_presentation {
  padding-top: 130px;
  padding-bottom: 80px;
  background: $white-200;

  .section-title {
    margin-bottom: 80px;
  }
}

.presentation-wrap {
  display: flex;
  justify-content: space-between;
}

.presentation-info {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
}

.presentation-item__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

.presentation-item {
  background: $black-200;
  padding: 25px;
  color: $white-100;
  max-width: 300px;
  border-radius: 10px;
}

.presentation-item:nth-child(1) {
  .presentation-item__icon {
    max-width: 72px;
    max-height: 42px;
  }
}

.presentation-item:nth-child(2) {
  .presentation-item__icon {
    max-width: 58px;
    max-height: 69px;
  }
}

.presentation-item:nth-child(3) {
  .presentation-item__icon {
    max-width: 72px;
    max-height: 54px;
  }
}

.presentation-item:nth-child(4) {
  .presentation-item__icon {
    max-width: 68px;
    max-height: 68px;
  }
}

.presentation-item__desc {
  margin-top: 16px;
}

.presentation-article {
  max-width: 510px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.presentation-article__preview {
  border-radius: 10px;
}

.presentation-article__text {
  margin-top: 30px;
}

.presentation-btn {
  max-width: 180px;
}

.section_benefits {
  padding-top: 130px;
  padding-bottom: 130px;
}

.benefits-wrap {
  display: flex;
  justify-content: space-between;
}

.benefits-slider {
  max-width: 830px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 0;
  max-height: 574px;
  margin: 0;
}

.benefits-items {
  display: grid;
  grid-template-columns: repeat(2, minmax(190px, 290px));
  grid-template-rows: repeat(2, minmax(190px, 270px));;
  gap: 40px;
}

.benefits-item {
  background: $orange-200;
  padding: 32px;
  border-radius: 10px;
  color: $white-100;
}

.benefits-item__title {
  text-transform: uppercase;
  height: 64px;
  max-width: 175px;
}

.benefits-item__desc {
  margin-top: 16px;
  height: 78px;
}

.benefits-item__link {
  display: inline-block;
  margin-top: 24px;
  text-decoration: none;
  color: $white-100;
  transition: .3s;

  &:hover {
    color: $black-400;
  }
}

.benefits-side-block {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.items-section {
  padding: 80px 0 0;
  position: relative;
}

.items-section__slider {
  padding-bottom: 146px;

  .swiper-button-next, .swiper-button-prev {
    color: $black-400;
    top: 45%;
    width: 43px;
    height: 43px;
    transition: .3s;
    border-radius: 100%;

    &:hover {
      background: $black-400;

      display: flex;
      align-items: center;
      justify-content: center;

      &::after {
        color: $white-100;
      }
    }
  }

  .swiper-button-next::after, .swiper-button-prev::after {
    font-size: 21px;
  }

  .swiper-button-next::after {
    transform: translateX(2px);
  }

  .swiper-button-prev::after {
    transform: translateX(-2px);
  }
}

.items-section__view-all-wrap {
  display: flex;
  justify-content: center;
  transform: translateY(48px);
}

.items-section__view-all-btn {
  text-transform: uppercase;
  text-decoration: none;
  color: $gray-300;
  transition: .3s;

  &:hover {
    color: $orange-100;
  }
}

.section_outfit {
  background: $white-200;

  .item-card .item-card__flag {
    display: none;
  }
}

.reviews-slider__wrap {
  margin-top: 80px;
  padding-left: calc((100% - $container-width) / 2);
}

.reviews-slider {
  .swiper-slide {
    display: inline-flex;
    max-width: 400px;
  }
}

.view-all-btn_reviews {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 48px;
}

.section_contacts {
  padding-top: 130px;

  .map-bg {
    margin-top: 80px;
    width: 100%;
    max-height: 500px;
  }
}

.contacts {
  margin-top: 40px;
}

.contacts__item {
  display: inline-flex;
  column-gap: 16px;

  a {
    transition: .2s;

    &:hover {
      color: $orange-200;
    }
  }
}

.contacts__item-text {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: $black-400;
}

.contacts_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.section_promo {
  .swiper-slide img {
    width: 100%;
  }
}

.contacts__item-icon.email {
  min-height: 32px;
  min-width: 32px;
}

@media (max-width: 1900px) {
  .best-items-slider-wrap {
    max-width: $container-width;
    margin: 0 auto;
    transform: translateX(0);
  }

  .section_best .container h2 {
    max-width: none;
  }
}

@media (max-width: 1850px) {
  .benefits-side-block {
    display: none;
  }

  .benefits-wrap {
    max-width: $container-width;
    margin: 0 auto;

    .swiper {
      display: none;
    }
  }

  .benefits-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .benefits-item {
    width: 100%;
    background: #34312D;
  }

  .benefits-item__link {
    color: $orange-100;

    &:hover {
      color: $orange-100;
    }
  }

  .benefits-item__title {
    max-width: none;
  }
}

@media (max-width: 1400px) {
  .container,
  .section_best .container,
  .best-items-slider-wrap,
  .benefits-wrap {
    max-width: 1100px;
  }

  .section_promo .promo h1 {
    font-size: 90px;
  }

  .advantages-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 32px;
  }

  .advantage-item__desc {
    max-width: none;
  }

  .advantage-item__title {
    color: $orange-100
  }

  .section_promo .promo {
    top: 130px;
  }

  .presentation-wrap {
    column-gap: 40px;
  }

  .presentation-article {
    max-width: 450px;
  }

  .presentation-article__preview {
    width: 100%;
  }

  .section_presentation,
  .section_benefits,
  .section_reviews,
  .section_contacts {
    padding-top: 80px;
  }

  .section_mailing {
    margin-top: 50px;
  }
}

@media (max-width: 1320px) {
  .container,
  .section_best .container,
  .best-items-slider-wrap,
  .benefits-wrap,
  .reviews-slider__wrap {
    max-width: 90%;
  }

  .section_promo .promo {
    top: 15%;
  }

  .section_promo .promo h1 {
    font-size: 86px;
  }

  h2 {
    font-size: 60px;
  }

  .reviews-slider__wrap {
    margin: 60px auto 0;
    padding-left: 0;
  }
}

@media (max-width: 1200px) {
  .section_promo .promo__content {
    max-width: 690px;
  }

  .section_promo .promo h1 {
    font-size: 72px;
  }

  .section_promo .promo {
    top: 18%;
  }

  .presentation-article {
    max-width: 360px;
  }

  .promo-card__text {
    font-size: 20px;
  }

  .catalog-wrap {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 300px);
    gap: 16px;

    .catalog-card img {
      max-width: 100%;
      object-fit: cover;
      top: auto;
      bottom: 0;
    }

    .catalog-card {
      height: 300px;

      h2 {
        position: absolute;
        top: 16px;
        left: 16px;
        font-size: 46px;
      }
    }
  }

  .catalog-card:first-child {
    grid-column: auto;

    img {
      transform: rotate(10deg);
      right: -40px;
      bottom: -50px;
    }
  }

  .catalog-card:nth-child(2) {
    grid-row: auto;
    height: 300px;

    img {
      transform: rotate(10deg);
      right: -40px;
      bottom: -100px;
    }
  }

  .catalog-card:nth-child(3) {
    grid-row: auto;

    img {
      transform: rotate(15deg) translateY(18px);
    }
  }

  .catalog-card:nth-child(4) {
    grid-row: auto;
    transform: translateY(0);

    img {
      transform: rotate(180deg);
      right: -60px;
    }
  }

  .catalog-card:nth-child(5) {
    grid-row: auto;

    img {
      transform: rotate(20deg);
      right: -10px;
    }
  }

  .catalog-card:nth-child(6) {
    grid-row: auto;

    img {
      transform: rotate(10deg);
      right: -10px;
    }
  }
}

@media (max-width: 1100px) {
  .section_blog .container {
    column-gap: 40px;
  }

  .blog-preview {
    max-width: 450px;
  }

  .presentation-wrap {
    flex-direction: column;
  }

  .presentation-article {
    max-width: 100%;
    margin-top: 40px;
  }

  .presentation-item {
    max-width: 100%;
  }

  .presentation-btn {
    margin-top: 36px;
  }

  .contacts_container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 0 5%;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 16px;
  }
}

@media (max-width: 1000px) {
  .section_promo .promo h1 {
    font-size: 67px;
  }

  .section_presentation,
  .section_benefits,
  .section_reviews,
  .section_contacts,
  .section_catalog .container {
    padding-top: 40px;
  }

  .section_mailing {
    margin-top: 50px;
  }

  .items-section {
    padding-top: 40px;
  }

  .section-title {
    margin-bottom: 40px;
  }

  .section_best {
    padding-top: 210px;
  }

  .section_promo {
    .swiper-slide {
      display: flex;
      justify-content: center;
    }
  }

  .section_promo .swiper-slide img {
    height: 550px;
    width: auto;
    object-fit: cover;
  }

  .items-section__slider {
    padding-bottom: 100px;
  }

  .catalog-wrap {
    grid-template-columns: repeat(2, 1fr);
  }

  .catalog-card:first-child img {
    transform: rotate(10deg);
    right: -70px;
    bottom: -130px;
  }

  .catalog-card:nth-child(2) img {
    transform: rotate(10deg);
    right: -70px;
    bottom: -200px;
  }

  .catalog-wrap .catalog-card h2 {
    top: 24px;
    left: 24px;
  }

  .section_best .container {
    position: relative;
    transform: translateX(0%);
    left: 0;
    top: 0;
    z-index: 3;
  }

  .section_best {
    padding-top: 40px;
  }

  .best-items-slider-wrap {
    margin-top: 40px;
  }

  .section_benefits {
    padding-bottom: 80px;
  }

  .section_video {
    height: 400px;
  }

  .section_blog .container {
    flex-direction: column;
    padding-bottom: 60px;
  }

  .blog-preview {
    max-width: 80%;
  }

  .section_blog .container .section-title {
    max-width: none;
  }

  .section_contacts .map-bg {
    margin-top: 40px;
  }
}

@media (max-width: 900px) {
  .promo-card__text {
    font-size: 18px;
  }

  .promo-card__content {
    padding: 36px 0;
    background: none;
    text-align: center;
  }

  .promo-card {
    background: none;
  }

  .promo-card:nth-child(2) {
    border: none;
  }

  .advantages-wrap {
    gap: 40px
  }
}

@media (max-width: 768px) {
  .section_presentation .section-title {
    margin-bottom: 40px;
  }

  .section_promo .promo__content {
    max-width: 100%;
    text-align: center;
  }

  .section_promo .swiper {
    position: relative;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      display: inline-block;
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.4);
      z-index: 2;
    }
  }

  .section_promo .promo__content {
    background: none;
  }

  .blog-preview {
    max-width: 100%;
  }

  .catalog-wrap .catalog-card {
    height: 250px;
  }

  .catalog-wrap {
    grid-template-rows: repeat(2, 250px);
  }

  .benefits-items {
    gap: 24px;
  }

  .contacts__item {
    width: 40%;
  }

  .promo-card {
    padding: 0 16px;
  }

  .promo-card__text {
    height: 50px;
  }

  .promo-card:nth-child(2) {
    border-right: 1px solid #3e3e3e;
    border-left: 1px solid #3e3e3e;
  }

  .promo-cards .container {
    max-width: 100%;
  }

  .catalog-wrap .catalog-card h2 {
    font-size: 36px;
  }

  .catalog-card:first-child img {
    bottom: -40%;
  }

  .catalog-card:nth-child(2) img {
    bottom: -60%;
  }

  .best-items-slider .swiper-slide {
    max-width: none;
    display: flex;
    justify-content: center;
  }

  .reviews-slider .swiper-slide {
    display: flex;
    justify-content: center;
    max-width: none;
  }

  .preview-card {
    max-width: 400px;
  }
}

@media (max-width: 700px) {
  .promo-slider .swiper-pagination {
    display: none;
  }

  .promo-cards .container {
    display: flex;
    flex-direction: column;
  }

  .promo-card__text {
    height: auto;
    max-width: 100%;
  }

  .section_promo .promo {
    top: 10%;
  }

  .section_promo .swiper-slide img {
    height: 500px;
  }

  .promo-card:nth-child(2) {
    border-top: 1px solid #3e3e3e;
    border-bottom: 1px solid #3e3e3e;
    border-right: none;
    border-left: none;
  }

  .best-items-particle {
    display: none;
  }

  .section_video {
    height: 300px;
  }

  .section_best {
    .swiper-button-next, .swiper-button-prev {
      display: inline-block;
      color: $gray-300;
      top: 40%;
      transition: .3s;
    }

    .swiper-button-prev:after, .swiper-button-next:after {
      font-size: 32px;
    }
  }
}

@media (max-width: 650px) {
  .benefits-item__link {
    margin-top: 36px;
  }

  .benefits-items {
    display: flex;
    flex-direction: column;
  }

  .benefits-item__title {
    height: auto;
  }

  .benefits-item__desc {
    height: auto;
    color: #d3d3d3;
  }

  .section_promo .swiper-slide img {
    height: 600px;
  }
}

@media (max-width: 600px) {
  .catalog-wrap .catalog-card {
    height: 160px;
  }

  .catalog-wrap {
    display: flex;
    flex-direction: column;
  }

  .catalog-card:first-child img {
    max-width: 70%;
    bottom: -20vw;
  }

  .catalog-card:nth-child(2) img {
    max-width: 70%;
    bottom: -30vw;
    right: -50px;
  }

  .catalog-card:nth-child(6) img {
    bottom: -16px;
  }

  .presentation-info {
    display: flex;
    flex-direction: column;
  }

  .presentation-item__title {
    color: $orange-100;
  }

  .advantage-item__title {
    font-size: 18px;
  }

  .advantage-item__wrap {
    height: 60px;
  }
}

@media (max-width: 520px) {
  .promo-card__action {
    margin-top: 24px;
  }

  .advantages-wrap {
    display: flex;
    flex-direction: column;
  }

  .advantage-item__wrap {
    justify-content: center;
  }

  .advantage-item__desc {
    text-align: center;
  }

  .presentation-btn {
    max-width: 250px;
    width: 100%;
  }
}

@media (max-width: 360px) {
  .section_promo .promo h1 {
    font-size: 58px;
  }

  .section_promo .promo {
    top: 12%;
  }

  .catalog-wrap .catalog-card h2 {
    font-size: 32px;
  }
}
